.recent-posts {
  /* background: var(--surface-alt); */
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid var(--border);
}

.recent-posts__heading {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  width: fit-content;
}

.recent-posts__heading h2 {
  font-size: 32px;
  font-weight: 600;
  color: var(--text);
}

.recent-posts__heading img {
  width: 16px;
  height: 16px;
  transition: transform 0.2s;
}

.recent-posts__heading:hover img {
  transform: translateX(4px);
}

.recent-posts__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
